/* @media (max-width: 680px) {
  #slideBar {
    min-width: 40rem;
  }
} */

#menu {
  width: 240px;
  background-color: rgb(118, 33, 33);
}

#menu2 {
  background-color: rgb(118, 33, 33);
}

#ul-nav {
  height: 85%;
}

div > li {
  padding: 0.3rem;
}

@media (max-width: 680px) {
  #slideBar {
    display: none;
  }
  #topBar{
    width: 100vw;
  }
  #ul-nav {
    height: 55%;
  }
  
}

@media (min-width: 680px) {
  #topBar {
    display: none;
  }
  #slideBar {
    height: 100vh;
  }
  
}