#principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
}

#form {
    padding-bottom: 1rem;
    background-color: rgba(21, 16, 16, 0.879);
    border-radius: 1.5rem 1.5rem 0 1.5rem;
    box-shadow: 15px 15px 15px 5px rgba(9, 0, 59, 0.6);
}

#userName,
#pass {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
    color: white;
}

#alert {
    padding: 1rem 2rem 0 2rem;
    text-align: center;
}

#submit {
    margin: 1rem;
    text-align: center;
}

#title {
    margin-top: 1rem;
    color: white;
}

#sign-up {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

#registrate {
    text-decoration: none;
    color: rgb(0, 211, 0);
}

#forgot {
    text-align: center;
    color: white;
}

#f-pass {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

#formulario {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

@media (min-width: 1080px) {
    #form {
        width: 35%;
        height: 50%;
    }
}

@media (max-width: 1024px) {
    #form {
        width: 60%;
        height: 50%;
    }
}

@media (min-width: 1080px) {
    #form {
        width: 35%;
        height: 70%;
    }
}

@media (max-width: 1024px) {
    #form {
        width: 60%;
        height: 70%;
    }
}

@media (max-width: 800px) {
    #form {
        width: 80%;
        height: 70%;
    }
}

@media (max-width: 600px) {
    #form {
        width: 80%;
        height: 65%;
    }
}

@media (max-width: 580px) {
    #form {
        width: 80%;
        height: 65%;
    }
}

@media (max-width: 480px) {
    #form {
        font-size: small;
        width: 80%;
        height: 60%;
        padding: 1rem;
    }
    h4 {
        font-size: 20px;
    }
}

/* -------------- */

section .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px;
}

section .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 0;
}

section .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 0;
}

section .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 0;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}